<div class="row">
  <div class="span9">
    <h1><%= @blog_review.title %></h1>
    <p style="color: #c3c3c3">posted by : <%= @blog_review.author%>, <%= @blog_review.created_at.strftime("%m %B %Y") %></p>
    <%= raw @blog_review.description %>
    <%= like_button(:app_id => "468641809834099")%>
  </div>
</div>
