<div id="viewer-bg">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1>Training and Consulting</h1>
        <h3 style="color: #c3c3c3">We'd provide some IT training and consulting using the latest technology on web developing and mobile application</h3>
      </div>
    </div>
    <div class="row viewer">
      <div class="span1">
        <%= image_tag "php.png" %>
      </div>
      <div class="span10">
        <h3>PHP</h3>
        <p>PHP adalah salah satu bahasa paling populer di Indonesia bahkan di dunia. Bahasa pemrograman PHP merupakan bahasa standar yang digunakan untuk membuat <i>web application</i> di sekolah SMA dan juga perguruan tinggi. Perkembangan PHP juga sekarang semakin pesat dengan berkembangnya <i>framework-framework</i> seperti CodeIgniter, Zend, cakePHP, dll.</p>
      </div>
    </div>
    <div class="row viewer">
      <div class="span1">
        <%= image_tag "rails.png" %>
      </div>
      <div class="span10">
        <h3>Ruby On Rails</h3>
        <p>Semenjak kemunculan pada tahun 2003, Ruby On Rails merupakan <i>framework</i> yang perkembangannya sangat pesat. Dengan mengunakan bahasa <i>ruby</i> sebagai dasar bahasanya, <i>framework</i> yang memiliki konsep MVC dan RESTfull ini sudah mengilhami banyak bahasa lain untuk mengikuti konsepnya. Sudah banyak <i>web application</i> yang mengunakan <i>framework</i> ini seperti <%= link_to "twitter", "https://twitter.com/"%>,<%= link_to "Github", "https://github.com/"%>, <%= link_to "basecamp", "http://basecamp.com/"%>, dll.</p>
      </div>
    </div>
    <div class="row viewer">
      <div class="span1">
        <%= image_tag "android.png" %>
      </div>
      <div class="span10">
        <h3>Android</h3>
        <p>Android yang merupakan sistem operasi untuk perangkat <i>mobile</i> yang berbasis linux ini sudah terkenal di seluruh dunia. Android yang dibuat oleh google dengan konsep <i>open source</i> memudahkan <i>programmer</i> yang ingin membuat aplikasi tanpa harus takut terkendala oleh masalah lisensi. Sehingga aplikasi <i>android</i> dapat dibuat oleh siapa saja dengan mudah menggunakan bahasa pemrograman <i>java</i>.</p>
      </div>
    </div>
  </div>
</div>